/* index.css */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
    height: 100%;
}

body {
    margin: 0;
    color: #333;
    background-color: #fff;
    min-height: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

menu,
nav,
section {
    display: block;
}

[hidden] {
    display: none;
}

a {
    background-color: #0000;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

svg:not(:root) {
    overflow: hidden;
}

button {
    color: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,...") format("truetype");
    font-weight: 400;
    font-style: normal;
}

[class*=" w-icon-"],
[class^=w-icon-] {
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-family: webflow-icons !important;
}

* {
    box-sizing: border-box;
}
