.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    grid-template-rows: auto auto; /* Two rows with automatic height */
    grid-template-areas:
        "title table table . ."
        "image image image image image"; /* Image spans across all three columns */
    gap: 1em; /* Optional: space between grid items */
    padding: 5em;
    background-color: #faf5f9;
}
.page-title {
    grid-area: title;
    margin: 0;
}
.table {
    grid-area: table;
    margin-top: 0px; /* Space between image and table */     
}   
.image {
    grid-area: image;
    Width: 50em; /* Ensure image scales properly */
}

.image img {
    width: auto; /* Ensure image fills its container */
    height: 30em; /* Maintain aspect ratio */
}
.th{
    vertical-align: top;
