/* Styles for header to ensure it is independent of the grid layout */
header {
    background-color: #f8f8f8; /* Background color for the header */
    padding: 1em; /* Adjust padding as needed */
    padding-top: 0;
    position: relative; /* Ensure correct positioning */
}

/* Additional styling for body grid layout */
.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title table table . ."
"image image image image image";
    gap: 1em;
    padding: 5em;
    padding-top: 1em;
    padding-left: 285px !important;
    background-color: #faf5f9;

}

.page-title {
    grid-area: title;
    margin: 0;
}

.table {
    grid-area: table;
    margin-top: 0px; /* Space between image and table */
}

.hero {
    grid-area: image;
    width: 20em;

}

.th {
    vertical-align: top;
}
